.hackathon {
    .container {
        max-width: 1200px;
    }

    .-primary {
        color: $primary !important;
    }

    .-secondary {
        color: $secondary !important;
    }

    .-tertiary {
        color: $tertiary !important;
    }
}
