/////////////////////////////////////////////////////////////////
//                                                             //
//   ######   #######  ##        #######  ########   ######    //
//  ##    ## ##     ## ##       ##     ## ##     ## ##    ##   //
//  ##       ##     ## ##       ##     ## ##     ## ##         //
//  ##       ##     ## ##       ##     ## ########   ######    //
//  ##       ##     ## ##       ##     ## ##   ##         ##   //
//  ##    ## ##     ## ##       ##     ## ##    ##  ##    ##   //
//   ######   #######  ########  #######  ##     ##  ######    //
//                                                             //
/////////////////////////////////////////////////////////////////

$primary: #69F0AE;
$secondary: #808080;
$tertiary: #FFF;
$transparent: transparent;
$colorInherit: inherit;

//////////////////////////////////////////////////////
//                                                  //
//  ########  #######  ##    ## ########  ######    //
//  ##       ##     ## ###   ##    ##    ##    ##   //
//  ##       ##     ## ####  ##    ##    ##         //
//  ######   ##     ## ## ## ##    ##     ######    //
//  ##       ##     ## ##  ####    ##          ##   //
//  ##       ##     ## ##   ###    ##    ##    ##   //
//  ##        #######  ##    ##    ##     ######    //
//                                                  //
//////////////////////////////////////////////////////

$textBig: 20px;

h1 {
    font-size: 44px;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 24px;
}
